<div id="conteneur-page">
  <app-menu></app-menu> <router-outlet></router-outlet>
  <footer>
    <img
      class="duck-logo"
      src="../../../assets/images/DuckEvent.png"
      alt="Accueil"
    />
    <div class="©">DuckEvent 2023©</div>
    <div>
      <a target="_blank" href="https://www.linkedin.com/" class="lien-icone">
        <img src="../assets/images/icon-linkedin.png" alt="Logo Linkedin" />
      </a>
      <a target="_blank" href="https://www.facebook.com/" class="lien-icone"
        ><img src="../assets/images/icon-facebook.png" alt="Logo Facebook" />
      </a>
      <a target="_blank" href="https://www.twitter.com/" class="lien-icone">
        <img src="../assets/images/icon-twitter.png" alt="Logo Twitter" />
      </a>
      <a target="_blank" href="https://www.instagram.com/" class="lien-icone">
        <img src="../assets/images/icon-instagram.png" alt="Logo Instagram" />
      </a>
    </div>
  </footer>
</div>
