<h1>Réservation</h1>
<div>
  <div class="form-group">
    <label for="id">id:</label>
    <input
      id="id"
      [(ngModel)]="evenement.id"
      readonly
      placeholder="numero auto"
    />
  </div>
  <div class="form-group">
    <label for="nom">nom:</label>
    <input id="nom" class="form-control" [(ngModel)]="evenement.nom" readonly />
  </div>
  <div class="form-group">
    <label for="prix">prix:</label>
    <input
      type="number"
      step="0.01"
      id="prix"
      [(ngModel)]="evenement.prix"
      readonly
    />
  </div>
  <div class="form-group">
    <label for="dateDebut">Début:</label>
    <input id="dateDebut" type="date" />
    <!-- <label for="heureDebut">heure de début:</label> -->
    <input id="heureDebut" type="time" />
  </div>
  <div class="form-group">
    <label for="dateFin">Fin:</label>
    <input id="dateFin" type="date" />
    <!-- <label for="heureFin">heure de fin:</label> -->
    <input id="heureFin" type="time" />
  </div>

  <div class="form-group">
    <button (click)="save()" class="btn btn-outline-primary">
      enregistrer
    </button>
    <a
      routerLink="/client/home"
      routerLinkActive="active"
      class="btn btn-outline-warning"
      >annuler</a
    >
  </div>
</div>
