<h1>Réservation</h1>
<div>
  <div class="form-group">
    <label for="id">id:</label>
    <input
      id="id"
      [(ngModel)]="evenement.id"
      readonly
      placeholder="numero auto"
    />
  </div>
  <div class="form-group">
    <label for="nom">nom evenement:</label>
    <input id="nom" class="form-control" [(ngModel)]="evenement.nom" readonly />
  </div>
  <div class="form-group">
    <label for="prix">prix:</label>
    <input
      type="number"
      step="0.01"
      id="prix"
      [(ngModel)]="evenement.prix"
      readonly
    />
  </div>
  <div class="form-group">
    <label for="dateDebut">Début:</label>
    <input id="dateDebut" type="date" readonly />
    <!-- <label for="heureDebut">heure de début:</label> -->
    <input id="heureDebut" type="time" readonly />
  </div>
  <div class="form-group">
    <label for="dateFin">Fin:</label>
    <input id="dateFin" type="date" readonly />
    <!-- <label for="heureFin">heure de fin:</label> -->
    <input id="heureFin" type="time" readonly />
  </div>
  <div class="form-group">
    <label for="local">local:</label>
    <div
      class="form-control"
      id="local"
      [(ngModel)]="evenement.local"
      [compareWith]="compareById"
    >
      <option [ngValue]="local" *ngFor="let local of obsLocals | async">
        {{ local.nom }}
      </option>
    </div>
  </div>
  <div class="form-group">
    <button (click)="reserver()" class="btn btn-outline-primary">
      Réserver
    </button>
    <a
      routerLink="/client/home"
      routerLinkActive="active"
      class="btn btn-outline-warning"
      >annuler</a
    >
  </div>
</div>
