<div class="title-container">
  <h1>Inscription</h1>
</div>
<form (ngSubmit)="submit()" [formGroup]="form">
  <div class="form-group">
    <label for="login">Login:</label>
    <input
      id="login"
      class="form-control custom-input custom-input"
      formControlName="login"
    />
    <div
      class="alert"
      *ngIf="form.get('login')?.dirty && form.get('login')?.invalid"
    >
      <span *ngIf="form.get('login')?.hasError('required')"
        >*Login obligatoire</span
      >
      <span *ngIf="form.get('login')?.hasError('loginExist')"
        >*Login déjà utilisé</span
      >
    </div>
  </div>
  <ng-container formGroupName="passwordGrp">
    <div class="form-group">
      <label for="password">Mot de passe:</label>
      <input
        id="password"
        type="password"
        class="form-control custom-input"
        formControlName="password"
      />
      <div
        *ngIf="
          form.get('passwordGrp.password')?.dirty &&
          form.get('passwordGrp.password')?.invalid
        "
      >
        <div class="alert">
          <span *ngIf="form.get('passwordGrp.password')?.hasError('required')">
            *mot de passe obligatoire
          </span>
          <span *ngIf="form.get('passwordGrp.password')?.hasError('pattern')">
            *doit contenir 1 maj, 1 min ,1 chiffre et 1 caractère spécial
          </span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="confirmPassword">Confirmation du mot de passe:</label>
      <input
        id="confirmPassword"
        type="Password"
        class="form-control custom-input"
        formControlName="confirmPassword"
      />
      <div class="alert">
        <span
          *ngIf="form.get('passwordGrp.confirmPassword')?.hasError('pattern')"
        >
          *doit contenir majuscule, minuscule, chiffre et caracteres speciaux
        </span>
      </div>
      <span *ngIf=""> *Les deux mots de passe sont différents </span>
    </div>
  </ng-container>

  <div class="form-group">
    <label for="prenom">Prenom:</label>
    <input
      id="prenom"
      class="form-control custom-input"
      formControlName="prenom"
    />
    <div class="alert">
      <span *ngIf="form.get('prenom')?.dirty && form.get('prenom')?.invalid">
        Prénom obligatoire*
      </span>
    </div>
  </div>
  <div class="form-group">
    <label for="nom">Nom:</label>
    <input id="nom" class="form-control custom-input" formControlName="nom" />
    <div class="alert">
      <span *ngIf="form.get('nom')?.dirty && form.get('nom')?.invalid">
        Nom obligatoire*
      </span>
    </div>
  </div>
  <div class="form-group">
    <label for="telephone">Téléphone:</label>
    <input
      id="telephone"
      class="form-control custom-input"
      formControlName="telephone"
    />
    <div class="alert">
      <span
        *ngIf="form.get('telephone')?.dirty && form.get('telephone')?.invalid"
      >
        Téléphone obligatoire*
      </span>
    </div>
  </div>
  <div class="form-group">
    <label for="dateNaissance">Date de naissance:</label>
    <input
      id="dateNaissance"
      type="date"
      class="form-control custom-input"
      formControlName="dateNaissance"
    />
    <div class="alert">
      <span
        *ngIf="
          form.get('dateNaissance')?.dirty && form.get('dateNaissance')?.invalid
        "
      >
        Date de naissance obligatoire*
      </span>
    </div>
  </div>

  <div class="button-container">
    <button type="submit" class="cta2" [disabled]="form.invalid">Envoyer</button
    ><a routerLink="/home" routerLinkActive="active" class="cta">Annuler</a>
  </div>
</form>
