<header>
  <nav>
    <a routerLink="/home" routerLinkActive="active"
      ><img id="Logo" src="../../../assets/images/DuckEvent.png" alt="Accueil"
    /></a>

    <ul class="menu">
      <li *ngIf="!verifTypeCompte() && login">
        <a routerLink="/client/home" routerLinkActive="active">Accueil</a>
        <div></div>
      </li>
      <li *ngIf="!login">
        <a routerLink="/home" routerLinkActive="active">Accueil</a>
        <div></div>
      </li>
      <li *ngIf="verifTypeCompte()">
        <a routerLink="/evenement" routerLinkActive="active">Evenements</a>
        <div></div>
      </li>
      <li *ngIf="verifTypeCompte()">
        <a routerLink="/artiste" routerLinkActive="active">Artistes</a>
        <div></div>
      </li>
      <li *ngIf="verifTypeCompte()">
        <a routerLink="/staff" routerLinkActive="active">Staff</a>
        <div></div>
      </li>

      <li *ngIf="verifTypeCompte()">
        <a routerLink="/local" routerLinkActive="active">Locaux</a>
        <div></div>
      </li>

      <li *ngIf="!login">
        <a routerLink="/login" routerLinkActive="active">Se connecter</a>
        <div></div>
      </li>
      <li *ngIf="!login">
        <a routerLink="/inscription" routerLinkActive="active">S'inscrire</a>
        <div></div>
      </li>

      <li *ngIf="verifTypeCompte()">
        <a routerLink="/client" routerLinkActive="active">Clients</a>
        <div></div>
      </li>
      <li *ngIf="login">
        <button (click)="logoff()">Deconnexion</button>
        <div></div>
      </li>

      <span *ngIf="login">Bonjour {{ login }}</span>
      <div></div>
    </ul>
  </nav>
</header>
