<nav>
  <a
    *ngIf="verifTypeCompte()"
    routerLink="/home"
    routerLinkActive="active"
    class="btn btn-link"
    >Home</a
  >
  <a
    *ngIf="!verifTypeCompte()"
    routerLink="/client/home"
    routerLinkActive="active"
    class="btn btn-link"
    >Home</a
  >
  <a
    *ngIf="verifTypeCompte()"
    routerLink="/evenement"
    routerLinkActive="active"
    class="btn btn-link"
    >Evenements</a
  >
  <a
    *ngIf="verifTypeCompte()"
    routerLink="/artiste"
    routerLinkActive="active"
    class="btn btn-link"
    >Artistes</a
  >
  <a
    *ngIf="verifTypeCompte()"
    routerLink="/staff"
    routerLinkActive="active"
    class="btn btn-link"
    >Staff</a
  >

  <a
    *ngIf="verifTypeCompte()"
    routerLink="/local"
    routerLinkActive="active"
    class="btn btn-link"
    >Locaux</a
  >

  <a
    *ngIf="!login"
    routerLink="/login"
    routerLinkActive="active"
    class="btn btn-link"
    >Login</a
  >
  <a
    *ngIf="!login"
    routerLink="/inscription"
    routerLinkActive="active"
    class="btn btn-link"
    >S'inscrire</a
  >

  <a
    *ngIf="verifTypeCompte()"
    routerLink="/client"
    routerLinkActive="active"
    class="btn btn-link"
    >Clients</a
  >
  <button *ngIf="login" (click)="logoff()" class="btn btn-link">
    Deconnexion
  </button>
  <span *ngIf="login">Bonjour {{ login }}</span>
</nav>
