<h1>Liste des artistes</h1>
<div class="input-container">
  <input
    [(ngModel)]="filtre"
    class="form-control custom-input"
    placeholder="Rechercher un artiste"
  />
</div>
<table class="table">
  <tr>
    <th>ID</th>
    <th>Nom de l'artiste</th>
    <th>Nationalité</th>
    <th></th>
    <th></th>
  </tr>
  <tr *ngFor="let artiste of artisteFiltre()">
    <td>{{ artiste.id }}</td>
    <td>{{ artiste.nomArtiste }}</td>
    <td>{{ artiste.nationalite }}</td>

    <td>
      <a class="cta2" routerLink="/artiste/edit/{{ artiste.id }}">Editer</a>
    </td>
    <td>
      <button (click)="deleteArtiste(artiste.id!)" class="cta">
        Supprimer
      </button>
    </td>
  </tr>
</table>
<a class="cta3" routerLink="/artiste/edit">Nouvel artiste</a>
