<h1>liste des artistes</h1>
<div><input [(ngModel)]="filtre" class="form-control" /></div>
<table class="table">
  <tr>
    <th>id:</th>
    <th>nomArtiste:</th>
    <th>nationalite:</th>
    <th></th>
    <th></th>
  </tr>
  <tr *ngFor="let artiste of artisteFiltre()">
    <td>{{ artiste.id }}</td>
    <td>{{ artiste.nomArtiste }}</td>
    <td>{{ artiste.nationalite }}</td>

    <td>
      <a
        class="btn btn-outline-primary"
        routerLink="/artiste/edit/{{ artiste.id }}"
        >editer</a
      >
    </td>
    <td>
      <button
        (click)="deleteArtiste(artiste.id!)"
        class="btn btn-outline-danger"
      >
        supprimer
      </button>
    </td>
  </tr>
</table>
<a class="btn btn-link" routerLink="/artiste/edit">nouveau artiste</a>
