<div class="title-container">
  <h1>Connexion</h1>
</div>
<form (ngSubmit)="check()" #form="ngForm">
  <div class="form-group">
    <label for="login">Login:</label>
    <input
      id="login"
      name="login"
      [(ngModel)]="login"
      class="form-control custom-input"
      required
      #loginCtrl="ngModel"
    />
    <div class="alert" *ngIf="loginCtrl.dirty && loginCtrl.invalid">
      <span> *Login obligatoire </span>
    </div>
  </div>
  <div class="form-group">
    <label for="password">Mot de passe:</label>
    <input
      type="password"
      id="password"
      name="password"
      [(ngModel)]="password"
      class="form-control custom-input"
      required
      #passwordCtrl="ngModel"
    />
    <div class="alert" *ngIf="passwordCtrl.dirty && passwordCtrl.invalid">
      <span> *Password obligatoire </span>
    </div>
  </div>
  <div class="alert" *ngIf="displayError">
    <span> Informations incorrectes </span>
  </div>
  <div class="button-container">
    <button [disabled]="form.invalid" type="submit" class="cta2">Envoyer</button
    ><a routerLink="/home" routerLinkActive="active" class="cta">Retour</a>
  </div>
</form>
