<h1>Liste des locaux</h1>
<div class="input-container">
  <input
    [(ngModel)]="filtre"
    class="form-control custom-input"
    placeholder="Rechercher un local"
  />
</div>

<table class="table">
  <tr>
    <th>ID</th>
    <th>Nom</th>
    <th>Nombre de places</th>
    <!-- <th>Nombre de places en fosse</th>
    <th>Nombre de places PMR</th> -->
    <th></th>
  </tr>
  <tr *ngFor="let local of localFiltre()">
    <td>{{ local.id }}</td>
    <td>{{ local.nom }}</td>
    <td>{{ local.placesAssises }}</td>
    <!-- <td>{{ local.placesFosse }}</td>
    <td>{{ local.placesPMR }}</td> -->
    <td>
      <a class="cta2" [routerLink]="'/local/edit/' + local.id">Editer</a>
    </td>
  </tr>
</table>
<a class="cta3" routerLink="/local/edit">Nouveau local</a>
