<h1>listes des clients</h1>
<div><input [(ngModel)]="filtre" class="form-control" /></div>
<table class="table">
  <tr>
    <th>id:</th>
    <th>nom:</th>
    <th>prenom:</th>
    <th>telephone:</th>
    <th>naissance:</th>
    <th></th>
    <th></th>
  </tr>
  <tr *ngFor="let client of clientFiltre()">
    <td>{{ client.id }}</td>
    <td>{{ client.nom }}</td>
    <td>{{ client.prenom }}</td>
    <td>{{ client.telephone }}</td>
    <td>{{ client.naissance }}</td>
    <!-- <td>
      <a
        class="btn btn-outline-primary"
        routerLink="/client/edit/{{ client.id }}"
        >editer</a
      >
    </td>
    <td>
      <button (click)="deleteClient(client.id!)" class="btn btn-outline-danger">
        supprimer
      </button>
    </td> -->
  </tr>
</table>
<!-- <a class="btn btn-link" routerLink="/client/edit">nouveau client</a> -->
