<h1>Liste des clients</h1>
<div class="input-container">
  <input
    [(ngModel)]="filtre"
    class="form-control custom-input"
    placeholder="Rechecher un client"
  />
</div>
<table class="table">
  <tr>
    <th>ID</th>
    <th>Login</th>
    <th>Nom</th>
    <th>Prénom</th>
    <th>Téléphone</th>
    <th>Naissance</th>
  </tr>
  <tr *ngFor="let client of clientFiltre()">
    <td>{{ client.id }}</td>
    <td>{{ client.login }}</td>
    <td>{{ client.nom }}</td>
    <td>{{ client.prenom }}</td>
    <td>{{ client.telephone }}</td>
    <td>{{ client.naissance }}</td>
    <!-- <td>
      <a
        class="btn btn-outline-primary"
        routerLink="/client/edit/{{ client.id }}"
        >editer</a
      >
    </td>
    <td>
      <button (click)="deleteClient(client.id!)" class="btn btn-outline-danger">
        supprimer
      </button>
    </td> -->
  </tr>
</table>
<!-- <a class="btn btn-link" routerLink="/client/edit">nouveau client</a> -->
