<h1>Liste des evenements</h1>
<table class="table">
  <tr>
    <th>id:</th>
    <th>nom:</th>
    <th>prix:</th>
    <th>Date de début</th>
    <th>Date de fin</th>
    <th>Heure de début</th>
    <th>Heure de fin</th>
    <th>Type d'evenement</th>
  </tr>
  <tr *ngFor="let e of obsEvenements | async">
    <td>{{ e.id }}</td>
    <td>{{ e.nom }}</td>
    <td>{{ e.prix }}</td>
    <td>{{ e.dateDebut }}</td>
    <td>{{ e.dateFin }}</td>
    <td>{{ e.heureDebut }}</td>
    <td>{{ e.heureFin }}</td>
    <td>{{ e.typeEvenement }}</td>
  </tr>
</table>
