<h1>Liste des evenements</h1>
<div>
  <input [(ngModel)]="filtre" class="form-control" />
</div>
<table class="table">
  <tr>
    <th>id:</th>
    <th>nom:</th>
    <th>prix:</th>
    <th>date de début</th>
    <th>date de fin</th>
    <th>heure de début</th>
    <th>heure de fin</th>
    <th>Type d'evenement</th>
    <th>local</th>
    <th></th>
    <th></th>
  </tr>
  <tr *ngFor="let evenement of evenementFiltre()">
    <td>{{ evenement.id }}</td>
    <td>{{ evenement.nom }}</td>
    <td>{{ evenement.prix }}</td>
    <td>{{ evenement.dateDebut }}</td>
    <td>{{ evenement.dateFin }}</td>
    <td>{{ evenement.heureDebut }}</td>
    <td>{{ evenement.heureFin }}</td>
    <td>{{ evenement.typeEvenement }}</td>
    <td>{{ evenement.local?.nom }}</td>
    <td>
      <a
        class="btn btn-outline-primary"
        [routerLink]="'/evenement/edit/' + evenement.id"
      >
        Editer
      </a>
    </td>
    <td>
      <button
        (click)="deleteEvenement(evenement.id!)"
        class="btn btn-outline-danger"
      >
        supprimer
      </button>
    </td>
  </tr>
</table>
<a class="btn btn-link" routerLink="/evenement/edit">nouveau evenement</a>
