<div class="title-container">
  <h1>Edition du local</h1>
</div>
<form (ngSubmit)="save()" #form="ngForm">
  <div class="form-group">
    <label for="id">ID</label>
    <input
      id="id"
      name="id"
      [(ngModel)]="local.id"
      class="form-control custom-disabled-input"
      placeholder="numero auto"
      readonly
      disabled
    />
    <div class="form-group">
      <label for="nom">Nom</label>
      <input
        id="nom"
        name="nom"
        [(ngModel)]="local.nom"
        class="form-control custom-input"
        required
        #nomCtrl="ngModel"
      />
      <div *ngIf="nomCtrl.dirty && nomCtrl.invalid" class="alert">
        <span>Nom obligatoire</span>
      </div>
      <!-- <div class="form-group">
    <label for="evenement">evenement</label>
    <select
      class="form-control"
      id="evenement"
      [(ngModel)]="local.evenement"
      [compareWith]="compareById"
    >
      <option
        [ngValue]="evenement"
        *ngFor="let evenement of obsEvenements | async"
      >
        {{ evenement.nom }}
      </option>
    </select>
  </div> -->
      <!-- <div class="form-group">
        <label for="placesPMR">Nombre de places PMR</label>
        <input
          id="placesPMR"
          name="placesPMR"
          [(ngModel)]="local.placesPMR"
          class="form-control custom-input"
          required
        />
      </div> -->
      <div class="form-group">
        <label for="placesAssises">Nombre de places</label>
        <input
          type="number"
          id="placesAssises"
          name="placesAssises"
          [(ngModel)]="local.placesAssises"
          class="form-control custom-input"
          required
          #placeCtrl="ngModel"
        />
        <div *ngIf="placeCtrl.dirty && placeCtrl.invalid" class="alert">
          <span>Nombre de places obligatoire</span>
        </div>
        <!-- </div>
      <div class="form-group">
        <label for="placesFosse">Nombre de places en fosse</label>
        <input
          id="placesFosse"
          name="placesFosse"
          [(ngModel)]="local.placesFosse"
          class="form-control custom-input"
          required
        />
      </div> -->
        <div class="form-group">
          <label for="imageURL">Lien de la photo du local</label>
          <input
            id="imageURL"
            name="imageURL"
            [(ngModel)]="local.imageURL"
            class="form-control custom-input"
          />
        </div>

        <div class="button-container">
          <div class="form-group">
            <button type="submit" [disabled]="form.invalid" class="cta2">
              Enregistrer
            </button>
            <a routerLink="/local" routerLinkActive="active" class="cta"
              >Annuler</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
