<div class="title-container">
  <h1>Edition du local</h1>
</div>
<form (ngSubmit)="save()" #form="ngForm">
  <div class="form-group">
    <label for="id">id:</label>
    <input
      id="id"
      name="id"
      [(ngModel)]="local.id"
      class="form-control custom-disabled-input"
      placeholder="numero auto"
      readonly
      disabled
    />
    <div class="form-group">
      <label for="nom">nom:</label>
      <input
        id="nom"
        name="nom"
        [(ngModel)]="local.nom"
        class="form-control custom-input"
        required
        #nomCtrl="ngModel"
      />
      <div *ngIf="nomCtrl.dirty && nomCtrl.invalid" class="alert alert-danger">
        nom obligatoire
      </div>
      <!-- <div class="form-group">
    <label for="evenement">evenement</label>
    <select
      class="form-control"
      id="evenement"
      [(ngModel)]="local.evenement"
      [compareWith]="compareById"
    >
      <option
        [ngValue]="evenement"
        *ngFor="let evenement of obsEvenements | async"
      >
        {{ evenement.nom }}
      </option>
    </select>
  </div> -->
      <div class="form-group">
        <label for="placesPMR">Nombre de places PMR:</label>
        <input
          id="placesPMR"
          name="placesPMR"
          [(ngModel)]="local.placesPMR"
          class="form-control custom-input"
          required
        />
      </div>
      <div class="form-group">
        <label for="placesAssises">Nombre de places assises:</label>
        <input
          id="placesAssises"
          name="placesAssises"
          [(ngModel)]="local.placesAssises"
          class="form-control custom-input"
          required
        />
      </div>
      <div class="form-group">
        <label for="placesFosse">Nombre de places en fosse:</label>
        <input
          id="placesFosse"
          name="placesFosse"
          [(ngModel)]="local.placesFosse"
          class="form-control custom-input"
          required
        />
      </div>

      <div class="button-container">
        <div class="form-group">
          <button type="submit" [disabled]="form.invalid" class="cta">
            enregistrer
          </button>
          <a routerLink="/local" routerLinkActive="active" class="cta2"
            >annuler</a
          >
        </div>
      </div>
    </div>
  </div>
</form>
