.cta2 {
  display: inline-block;
  background: linear-gradient(rgb(114, 211, 76), rgba(114, 211, 76, 0.358));
  color: white;
  border-radius: 10px;
  text-decoration: none;
  padding: 10px 25px;
  margin-left: 15px;
  margin-top: 15px;
}
.cta2:hover {
  background: linear-gradient(rgb(58, 138, 27), rgba(114, 211, 76, 0.358));
  text-decoration: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
