<div class="title-container">
  <h1>Edition de l'artiste</h1>
</div>
<form (ngSubmit)="save()" #form="ngForm">
  <div class="form-group">
    <label for="id">id:</label>
    <input
      id="id"
      name="id"
      [(ngModel)]="artiste.id"
      class="form-control custom-disabled-input"
      placeholder="numero auto"
      readonly
      disabled
    />
  </div>
  <div class="form-group">
    <label for="nomArtiste">nomArtiste:</label>
    <input
      id="nomArtiste"
      name="nomArtiste"
      [(ngModel)]="artiste.nomArtiste"
      class="form-control custom-input"
      required
      #nomArtisteCtrl="ngModel"
    />
    <div *ngIf="nomArtisteCtrl.dirty && nomArtisteCtrl.invalid" class="alert">
      <span>Nom de l'artiste obligatoire</span>
    </div>
  </div>
  <div class="form-group">
    <label for="nationalite">nationalite:</label>
    <input
      id="nationalite"
      name="nationalite"
      [(ngModel)]="artiste.nationalite"
      class="form-control custom-input"
      required
      #nationaliteCtrl="ngModel"
    />
    <div *ngIf="nationaliteCtrl.dirty && nationaliteCtrl.invalid" class="alert">
      <span>Nationalite obligatoire</span>
    </div>
    <!-- <div class="form-group">
      <label for="imageURL">Lien de la photo de l'artiste:</label>
      <input
        id="imageURL"
        name="imageURL"
        [(ngModel)]="artiste.imageURL"
        class="form-control custom-input"
        required
        #nomCtrl="ngModel"
      />
    </div> -->
  </div>
  <div class="button-container">
    <div class="form-group">
      <button type="submit" [disabled]="form.invalid" class="cta2">
        Enregistrer
      </button>
      <a routerLink="/artiste" routerLinkActive="active" class="cta">Annuler</a>
    </div>
  </div>
</form>
