<h1>Edition du membre du artiste</h1>
<form (ngSubmit)="save()" #form="ngForm">
  <div class="form-group">
    <label for="id">id:</label>
    <input
      id="id"
      name="id"
      [(ngModel)]="artiste.id"
      class="form-control"
      placeholder="numero auto"
      readonly
    />
  </div>
  <div class="form-group">
    <label for="nomArtiste">nomArtiste:</label>
    <input
      id="nomArtiste"
      name="nomArtiste"
      [(ngModel)]="artiste.nomArtiste"
      class="form-control"
      required
      #nomArtisteCtrl="ngModel"
    />
    <div
      *ngIf="nomArtisteCtrl.dirty && nomArtisteCtrl.invalid"
      class="alert alert-danger"
    >
      nomArtiste obligatoire
    </div>
  </div>
  <div class="form-group">
    <label for="nationalite">nationalite:</label>
    <input
      id="nationalite"
      name="nationalite"
      [(ngModel)]="artiste.nationalite"
      class="form-control"
      required
      #nationaliteCtrl="ngModel"
    />
    <div
      *ngIf="nationaliteCtrl.dirty && nationaliteCtrl.invalid"
      class="alert alert-danger"
    >
      nationalite obligatoire
    </div>
  </div>
  <div>
    <button
      type="submit"
      [disabled]="form.invalid"
      class="btn btn-outline-primary"
    >
      enregistrer
    </button>
    <a
      routerLink="/artiste"
      routerLinkActive="active"
      class="btn btn-outline-warning"
      >annuler</a
    >
  </div>
</form>
