<div class="title-container">
  <h1>Edition de l'Evenement</h1>
</div>
<form (ngSubmit)="save()" #form="ngForm">
  <div class="form-group">
    <label for="id">Id (Lecture seule):</label>
    <input
      id="id"
      name="id"
      [(ngModel)]="evenement.id"
      class="form-control custom-disabled-input"
      placeholder="numero auto"
      readonly
      disabled
    />
    <div class="form-group">
      <label for="nom">Nom:</label>
      <input
        id="nom"
        name="nom"
        [(ngModel)]="evenement.nom"
        class="form-control custom-input"
        required
        #nomCtrl="ngModel"
      />
      <div *ngIf="nomCtrl.dirty && nomCtrl.invalid" class="alert alert-danger">
        nom obligatoire
      </div>
    </div>
    <div class="form-group">
      <label for="prix">Prix (€):</label>
      <input
        id="prix"
        name="prix"
        [(ngModel)]="evenement.prix"
        class="form-control custom-input"
        required
        #nomCtrl="ngModel"
      />
    </div>
    <div class="form-group">
      <label for="dateDebut">Date de début:</label>
      <input
        type="date"
        id="dateDebut"
        name="dateDebut"
        [(ngModel)]="evenement.dateDebut"
        class="form-control custom-input"
        required
        #nomCtrl="ngModel"
      />
    </div>
    <div class="form-group">
      <label for="dateFin">Date de fin:</label>
      <input
        type="date"
        id="dateFin"
        name="dateFin"
        [(ngModel)]="evenement.dateFin"
        class="form-control custom-input"
        required
        #nomCtrl="ngModel"
      />
    </div>
    <div class="form-group">
      <label for="heureDebut">Heure de début:</label>
      <input
        type="time"
        id="heureDebut"
        name="heureDebut"
        [(ngModel)]="evenement.heureDebut"
        class="form-control custom-input"
        required
        #nomCtrl="ngModel"
      />
    </div>
    <div class="form-group">
      <label for="heureFin">Heure de fin:</label>
      <input
        type="time"
        id="heureFin"
        name="heureFin"
        [(ngModel)]="evenement.heureFin"
        class="form-control custom-input"
        required
        #nomCtrl="ngModel"
      />
    </div>
    <div class="form-group">
      <label for="typeEvenement">Type d'évènement':</label>
      <select
        id="typeEvenement"
        name="typeEvenement"
        class="form-control custom-input"
        [(ngModel)]="evenement.typeEvenement"
        [compareWith]="compareByTypeEvenement"
      >
        <option value="concert">concert</option>
        <option value="festival">festival</option>
        <option value="exposition">exposition</option>
      </select>
    </div>
    <div class="form-group">
      <label for="imageURL">Lien de l'affiche de l'évènement':</label>
      <input
        id="imageURL"
        name="imageURL"
        [(ngModel)]="evenement.imageURL"
        class="form-control custom-input"
        required
        #nomCtrl="ngModel"
      />
    </div>
    <div class="form-group">
      <label for="local">Local:</label>
      <select
        id="local"
        name="local"
        class="form-control custom-input"
        [(ngModel)]="evenement.local"
        [compareWith]="compareByIdLocal"
      >
        <option [ngValue]="local" *ngFor="let local of obsLocaux | async">
          {{ local.nom }}
        </option>
      </select>
    </div>

    <div class="artiste-staffs-container">
      <div class="form-group custom-checkbox">
        <ul>
          <label for="artistes">Artistes:</label>
          <li>
            <div *ngFor="let artiste of artistes">
              <input
                type="checkbox"
                [checked]="artiste.checked"
                (change)="artiste.checked = !artiste.checked"
                id="artiste"
              />
              {{ artiste.nomArtiste }}
            </div>
          </li>
        </ul>
      </div>

      <div class="form-group custom-checkbox">
        <ul>
          <label for="staffs">Staffs:</label>
          <li>
            <div *ngFor="let staff of staffs">
              <input
                type="checkbox"
                [checked]="staff.checked"
                (change)="staff.checked = !staff.checked"
                id="staff"
              />
              {{ staff.nom }}
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="button-container">
      <div class="form-group">
        <!-- [disabled]="form.invalid" -->
        <button type="submit" class="cta">enregistrer</button>
        <a routerLink="/evenement" routerLinkActive="active" class="cta2"
          >Annuler</a
        >
      </div>
    </div>
  </div>
</form>
