<div class="title-container">
  <h1>Modification de mes infos</h1>
</div>
<form (ngSubmit)="save()" #form="ngForm">
  <div class="form-group">
    <label class="input-id" for="id">id:</label>
    <input
      id="id"
      name="id"
      [(ngModel)]="client.id"
      class="form-control input-id"
      placeholder="numero auto"
      readonly
      disabled
    />
  </div>
  <div class="form-group">
    <label for="id">Login (Lecture seule)</label>
    <input
      id="login"
      name="login"
      [(ngModel)]="client.login"
      class="form-control custom-disabled-input"
      readonly
      disabled
    />
  </div>
  <div class="form-group">
    <label for="prenom">prénom:</label>
    <input
      id="prenom"
      name="prenom"
      [(ngModel)]="client.prenom"
      class="form-control custom-input"
      required
      pattern="^[a-zA-Z][a-zA-Z]*((-|\s)[a-zA-Z]+)*$"
      #prenomCtrl="ngModel"
    />
    <div
      *ngIf="prenomCtrl.dirty && prenomCtrl.invalid"
      class="alert alert-danger custom-alert"
    >
      prenom obligatoire
    </div>
  </div>
  <div class="form-group">
    <label for="nom">nom:</label>
    <input
      id="nom"
      name="nom"
      [(ngModel)]="client.nom"
      class="form-control custom-input"
      required
      pattern="^[a-zA-Z][a-zA-Z]*((-|\s)[a-zA-Z]+)*$"
      #nomCtrl="ngModel"
    />
    <div
      *ngIf="nomCtrl.dirty && nomCtrl.invalid"
      class="alert alert-danger custom-alert"
    >
      nom obligatoire
    </div>
  </div>
  <div class="form-group">
    <label for="telephone">Téléphone:</label>
    <input
      id="telephone"
      name="telephone"
      [(ngModel)]="client.telephone"
      class="form-control custom-input"
      required
      #telephoneCtrl="ngModel"
    />
    <div
      *ngIf="telephoneCtrl.dirty && telephoneCtrl.invalid"
      class="alert alert-danger custom-alert"
    >
      telephone obligatoire
    </div>
  </div>
  <div class="form-group">
    <label for="naissance">Date de naissance:</label>
    <input
      id="naissance"
      name="naissance"
      [(ngModel)]="client.naissance"
      class="form-control custom-input"
      required
      #naissanceCtrl="ngModel"
    />
    <div
      *ngIf="naissanceCtrl.dirty && naissanceCtrl.invalid"
      class="alert alert-danger custom-alert"
    >
      <span> date de naissance obligatoire </span>
    </div>
  </div>
  <div class="button-container">
    <button type="submit" [disabled]="form.invalid" class="cta">
      Enregistrer
    </button>
    <a routerLink="/client/home" routerLinkActive="active" class="cta2"
      >Annuler</a
    >
  </div>
</form>
