.container-event {
  display: flex;
  background-color: rgb(58, 60, 107);
  color: rgb(238, 137, 35);
  height: 75vh;
}
.event {
  width: 100%;
  height: 100%;
}

h1 {
  text-transform: uppercase;
  color: rgb(238, 137, 35);
  margin: 0;
  display: block;
  margin-top: 20px;
  font-weight: bold;
  /* margin-bottom: 30px; */
}
label {
  font-size: 15px;
  color: white;
  background-color: #8ca4d8;
  line-height: 14px;
  display: inline-block;
  padding: 10px;
  text-transform: uppercase;
}
.event-artistes {
  width: 100%;
  height: 100%;
}
.titre-prix {
  display: flex;
  margin-left: 40px;
  align-items: center;
  justify-content: center;
}
.prix {
  margin-left: 420px;
  font-size: 30px;
  color: gainsboro;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}
.details-event {
  display: flex;
  justify-content: space-evenly;
  margin-left: 40px;
  gap: 150px;
  font-size: 25px;
}

.date-event {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.actions-event {
  display: flex;
  justify-content: center; /* Centrer horizontalement les boutons */
  position: fixed;
  bottom: 100px; /* Espacement par rapport au bas de la page */
  left: 0;
  right: 0;
}

.action-retour,
.action-reserver {
  margin: 0 10px; /* Ajouter une marge horizontale pour espacer les boutons */
}
.cta {
  display: inline-block;
  background: linear-gradient(#8e86b5, #acaeed);
  color: white;
  font-size: 0.8em;
  text-align: center;
  border-radius: 50px;
  border: #696484;
  padding: 10px 25px;
  margin-top: 15px;
}
.cta:hover {
  background: linear-gradient(#696484, #8788ba);
  text-decoration: none;
}
.cta2 {
  display: inline-block;
  background: linear-gradient(rgb(114, 211, 76), rgba(114, 211, 76, 0.358));
  color: white;
  border-radius: 50px;
  font-size: 0.8em;
  text-align: center;
  text-decoration: none;
  padding: 10px 25px;
  margin-left: 15px;
  margin-top: 15px;
}
.cta2:hover {
  background: linear-gradient(rgb(58, 138, 27), rgba(114, 211, 76, 0.358));
  text-decoration: none;
}

a {
  text-decoration: none;
}
img {
  height: 35vw;
  width: 25vw;
  object-fit: cover;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 30px;
}

.description-event {
  margin-left: 30px;
}

.date-event {
  gap: 150px;
}
.grid-paysages {
  width: 20%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 0.5fr);
  grid-auto-rows: 10vw;
  gap: 15px;
  margin-bottom: 30px;
}
